.heading
{
  font-size: 23px;
  width: 100%;
  margin: 0px;   
}

.note
{
 font-size: 15px;
 color: aqua;   
}

body
{
  background-size: cover;  
}
.div_speed
{
  float: left;  
}
.div_speed_img,.div_volume_img
{
  width: 200px;
  border-radius: 100px;
}
#speed,#volume
{
  font-size: 23px;
  margin: 15px;  
}
.div_volume
{
  float: right;  
}
canvas
{
   background-color: white; 
   border-style: ridge;
   border-width: 10px;
   border-color: rgb(94, 66, 253);
   border-radius: 60px;
}
.play_button
{
  width: 130px;
  font-size: 25px;
}